/* Navbar (barra de navegación) */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e2f;
  padding: 1rem 2rem;
  color: white;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  left: 0;
  right: 0;
}

/* Logo de la navbar */
.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Enlaces de la navbar */
.navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.navbar-links li {
  display: inline;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: color 0.3s;
  padding: 0.5rem 1rem;
}

.navbar-links li a:hover {
  color: #00aaff;
}

.navbar-icon {
  width: 10px;
  height: 10px;
  margin-left: 0.5rem;
  color: #1e1e2f; /* Color del ícono en modo claro */
}

/* Modo Oscuro */
.dark-mode .navbar {
  background-color: #333;
  color: white;
}

.dark-mode .navbar-links li a {
  color: white;
}

.dark-mode .navbar-links li a:hover {
  color: #00aaff;
}

.dark-mode .navbar-icon {
  filter: invert(1);
}

/* Media Query para pantallas grandes (1920px) */
@media (min-width: 1920px) {
  .navbar {
    padding: 2rem 3rem; /* Aumentar el padding en pantallas grandes */
  }

  .navbar-logo {
    font-size: 2rem; /* Aumentar tamaño del logo */
  }

  .navbar-links li a {
    font-size: 1.2rem; /* Aumentar tamaño de los enlaces */
  }

  .navbar-icon {
    width: 15px;
    height: 15px; /* Aumentar tamaño del icono */
  }

  /* Modo Oscuro en pantallas grandes */
  .dark-mode .navbar {
    background-color: #222; /* Fondo más oscuro en pantallas grandes */
  }
}

/* Media Query para pantallas medianas (960px) */
@media (max-width: 960px) {
  .navbar {
    padding: 1rem 1.5rem; /* Reducir el padding en pantallas pequeñas */
  }

  .navbar-logo {
    font-size: 1.2rem; /* Reducir tamaño del logo */
  }

  .navbar-links {
    flex-direction: column; /* Organizar los enlaces en una columna */
    align-items: center;
    gap: 0.5rem;
  }

  .navbar-links li a {
    font-size: 1rem; /* Reducir tamaño de los enlaces */
  }

  .navbar-icon {
    width: 12px;
    height: 12px; /* Ajustar tamaño del icono */
  }

  /* Modo Oscuro en pantallas medianas */
  .dark-mode .navbar {
    background-color: #222; /* Fondo más oscuro */
  }
}
